<nav class="nav-wrapper transparent">
  <div class="container">

    <a href="#" class="brand-logo">Reel Planner</a>



    <a href="#" class="sidenav-trigger" data-target="mobile-links">
      <i class="material-icons">menu</i>
    </a>

    <ul class="right hide-on-med-and-down waves-effect waves-light">
      <li><a href="/home">Home</a></li>
      <li>{{#if logout}}
        <a href="/logout">Logout</a>
        {{else}}</li>
      <li><a href="/signin">Sign In</a></li>
      <li><a href="/signup">Sign Up</a>{{/if}}</li>
    </ul>
  </div>
  
</nav>

<ul class="sidenav grey lighten-2" id="mobile-links">

  <li><a href="/">Home</a></li>
  <li>{{#if logout}}
    <a href="/logout">Logout</a>
    {{else}}</li>
  <li><a href="/signin">Sign In</a></li>
  <li><a href="/signup">Sign Up</a>{{/if}}</li>
</ul>