<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../../routes/apiRoutes.js"></script>
  <script src="/public/js/logic.js"></script>
  
  <title>Home Page</title>
</head>

<body>
  <header>
{{>navbar}}
  </header>

  
  

  {{{body}}}

  <!-- Compiled and minified JavaScript -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
       $('#textarea1').val('New Text');
  M.textareaAutoResize($('#textarea1'));
    })
  </script>
</body>
<script>
//Get the genre id of the button clicked.
$(document).on('click','.genrebutton', function() {
  var id = $(this).attr('id');
   console.log(id);
    console.log(req.user.username)
  $.ajax({
    type: 'POST',
    url: '/api/addpref/' + id
  }).then(function(response) {
  })
})

</script>
</html>