{{!-- PASSPORT: This is the user dashboard that the user gets redirected to after signing in. You can rename this to
whatever you want from dashboard --}}
<div class="container center">
<div class="row">
    <div class="col-8">
        <h5>You are now signed in.</h5>
        <a href="/" class="btn grey darken-2 waves-effect waves-light">
        Continue
        <i class="material-icons right">arrow_forward</i>
        </a>
        <div class="col-md-6">
      
    </div>
    </div>
</div>
</div>