<div class="row" id="histList">

    <h4 class="header center">Movie History</h4>

    <div class="col s2 m4 l4">

        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://cdn.cinematerial.com/p/297x/udapnxr3/the-dark-knight-movie-poster-md.jpg"
                    alt="office">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">See Other Movies Like This <i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">This is a link</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Suggestions<i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about movies that you might like.</p>
            </div>
        </div>
    </div>

















</div>

 