<div class="row">

    <h4 class="header center">Movies History</h4>

    <div class="col s2 m4 l4">

        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://cdn.cinematerial.com/p/297x/udapnxr3/the-dark-knight-movie-poster-md.jpg"
                    alt="office">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">See Other Movies Like This <i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">This is a link</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>




    <div class="col s12 m4 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://cdn.cinematerial.com/p/297x/udapnxr3/the-dark-knight-movie-poster-md.jpg"
                    alt="office">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Did you watch the movie <i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">This is a link</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>



    <div class="col s12 m4 l4">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://cdn.cinematerial.com/p/297x/udapnxr3/the-dark-knight-movie-poster-md.jpg"
                    alt="office">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Did you watch the movie <i class="mdi-navigation-more-vert right"></i></span>
                <p><a href="#">This is a link</a>
                </p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title <i class="mdi-navigation-close right"></i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>



</div>