<div class="container center">
  <h1>Would you like to?..</h1>
</div>




<div class="container center">
  <div class="row">
  <a href="/movie" class="btn grey darken-2 waves-effect waves-light">
    Find A Movie To Watch
    <i class="material-icons right">local_movies</i>
  </a>
  <a href="/history" class="btn grey darken-2 waves-effect waves-light">
    Check Your Movie History
    <i class="material-icons right">star</i>
  </a>
  
  </div>
</div>
