
<div class="container center">
  <h1>{{msg}}</h1>
</div>




<div class="container center">
  <div class="row">
  <a href="/signin" class="btn grey darken-2 waves-effect waves-light">
    Sign In
    <i class="fas fa-sign-in-alt right"></i>
    </a>
  <a href="/signup" class="btn grey darken-2 waves-effect waves-light">
    Sign Up
    <i class="fas fa-sign-out-alt right"></i>
  </a>
    
  </div>
</div>
