<div class="container center">
    <h4>Select your favorite movie genres.</h4>
</div>



<!-- Select a genres -->
<div class="row card transparent">
    {{#each genres}} 
    <div class="col s12 m6 l4">
    <img src="{{image}}" class="materialbox responsive-img card genrebutton" id={{id}}>
    </div>
    {{/each}}

</div>

