{{!-- PASSPORT: This is the signin form to sign in to the server --}}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Please Sign In</h2>

            <form id="signin" name="signin" method="post" action="signin">

                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input id="icon-prefix" class="text white-text text-darken-2" name="email" type="text" />
                    <label for="email">Email Address</label>
                </div>


                <div class="input-field">
                    <i class="material-icons prefix">security</i>
                    <input id="icon-prefix" class="password white-text text-darken-2" name="password" type="password" />
                    <label for="password">Password</label>
                </div>

                <button class="btn grey darken-2" type="submit">Sign In<i class="material-icons right">fingerprint</i></button>

                

            </form>
        </div>

    </div>
</div>
</div>
</section>